/* Style by order*/

.card {
  display: grid;
  gap: 1.95rem;
  background-color: $dark-desaturated-blue;
  border-radius: 0.6rem;

  &__image {
    position: relative;
  }

  &__img-mobile {
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
  }

  &__img-desktop {
    display: none;
  }

  &__image-overlay {
    background-color: $soft-violet;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0.4;
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
  }

  &__content,
  &__stats {
    padding-inline: 1rem;
    text-align: center;
  }

  &__content {
    display: grid;
  }

  &__title {
    color: $white;
    font-weight: 600;
    margin-block-end: 0.9rem;
    font-size: 2rem;

    &-span {
      color: $soft-violet;
    }
  }

  &__text {
    color: $slightly-transparent-white-paragraph;
    line-height: 1.5rem;
    margin-block-end: 1.5rem;
  }

  &__stats {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-block-end: 1.9rem;
  }

  &__stats-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    span {
      &:first-of-type {
        color: $white;
        font-weight: 700;
      }

      &:last-of-type {
        color: $slightly-transparent-white-stats;
      }
    }
  }
}

@media screen and (min-width: $desktop) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
  }
  .card {
    max-width: 730px;
    grid-template-columns: repeat(2, 1fr);

    &__image {
      order: 2;
    }

    &__img-mobile {
      display: none;
    }

    &__img-desktop {
      display: block;
      border-top-right-radius: 0.6rem;
      border-bottom-right-radius: 0.6rem;
    }

    &__image-overlay {
      border-bottom-right-radius: 0.6rem;
    }

    &__content,
    &__stats {
      text-align: left;
    }

    &__content {
      gap: 1em;
      padding: 2rem 2.5rem;
    }

    &__title {
      font-size: 1.5rem;
    }

    &__text {
      margin-block-end: 1.9rem;
    }
    &__stats {
      flex-direction: row;
      gap: 2rem;
    }
  }
}
